<div class="registration_form">
  <h1>Register</h1>
  <%= form_for @user do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %><br>

    <div class="password">
      <%= f.label :password %>
      <%= f.text_field :password %><br>
    </div>

    <%= f.submit 'Register', class: "button" %>
  <% end %>
</div>